.ShiffItem{
    margin-left: 30%;
}
button{
    width: 100px;
    height: 50px;
}
#tog li{
    height: 40px;
    line-height: 40px;
    border-top: 0.5px solid gainsboro;
    border-bottom: 0.5px solid gainsboro;
    border-collapse: collapse;
    font-size: 20px;
}
#tog li:hover{
    background-color: #EEEEEE;
}